annotated-doc==0.0.4
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
coloredlogs==15.0.1
eido==0.2.5
flatbuffers==25.12.19
humanfriendly==10.0
idna==3.15
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
logmuse==0.3.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
numpy==2.4.5
onnxruntime==1.26.0
packaging==26.2
paho-mqtt==2.1.0
pandas==2.3.3
pathvalidate==3.3.1
pephubclient==0.5.1
peppy==0.40.8
piper-tts==1.4.2
pipestat==0.13.1
playsound3==3.3.1
protobuf==7.34.1
psutil==7.2.2
pydantic==2.13.4
pydantic_core==2.46.4
pyglet==2.1.14
Pygments==2.20.0
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rich==15.0.0
rpds-py==0.30.0
shellingham==1.5.4
six==1.17.0
typer==0.25.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
ubiquerg==0.9.3
urllib3==2.7.0
yacman==1.0.0
